KarmaLego[[:space:]]Runs/** filter=lfs diff=lfs merge=lfs -text
Statistics/** filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Heart[[:space:]]Attack/Results/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Heart[[:space:]]Attack/Results/* filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Hypoglycemia/Results/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/prolonged_hyperglycemia_over_180/Results/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/prolonged_hyperglycemia_over_200/Results/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Heart[[:space:]]Attack/Configuration/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Heart[[:space:]]Attack/Configuration/*.json filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Hypoglycemia/Configuration/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/Hypoglycemia/Configuration/*.json filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/prolonged_hyperglycemia_over_180/Configuration/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/prolonged_hyperglycemia_over_180/Configuration/*.json filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/prolonged_hyperglycemia_over_200/Configuration/*.txt filter=lfs diff=lfs merge=lfs -text
KarmaLego[[:space:]]Runs/prolonged_hyperglycemia_over_200/Configuration/*.json filter=lfs diff=lfs merge=lfs -text
Statistics/Heart[[:space:]]Attack/**/*.txt filter=lfs diff=lfs merge=lfs -text
Statistics/Heart[[:space:]]Attack/**/*.csv filter=lfs diff=lfs merge=lfs -text
Statistics/Hypoglycemia/**/*.txt filter=lfs diff=lfs merge=lfs -text
Statistics/Hypoglycemia/**/*.csv filter=lfs diff=lfs merge=lfs -text
Statistics/prolonged_hyperglycemia_over_180/**/*.txt filter=lfs diff=lfs merge=lfs -text
Statistics/prolonged_hyperglycemia_over_180/**/*.csv filter=lfs diff=lfs merge=lfs -text
Statistics/prolonged_hyperglycemia_over_200/**/*.txt filter=lfs diff=lfs merge=lfs -text
Statistics/prolonged_hyperglycemia_over_200/**/*.csv filter=lfs diff=lfs merge=lfs -text
